{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2023
  },
  "extends": ["eslint:recommended", "standard", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-console": "off",
    "no-restricted-globals": [
      "error",
      {
        "name": "event",
        "message": "Listener function's event parameter is missing."
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "env": {
        "mocha": true
      }
    },
    {
      "files": ["**/*.html"],
      "plugins": ["eslint-plugin-html"]
    }
  ]
}
